        body{   /*חל על אלמנט של תגיות כשיש שם של תגית ללא סימון מיוחד*/
                 font-size: 20px;
                 color:#3700ff;
                 padding-top: 80px;

            }
            
       table{
                 font-size: 16px;
                 font-style:unset;
                 color:#370011;

            }
       input{
               
                color:#ff0026 ;
            }
            .buttons{/*  כשיש נקודה לפני זה חל על הקבוצה הנל שיצרתי*/
                color:#370011;
                background-color: floralwhite;
                padding: 10px 5px 10px 5px;
                font-size: 18px;
                border-left: #370011;
                font-style:normal;
                border-radius: 12px;
            }
            .boldtext{
                font-weight: 600;
            }
            #btnreg{  /*חל על איי די מסויים זה סולמית*/
                font-size: 16px;
                font-style: oblique
                ;
                color:#7700ff;
            }
            .td{
                font-size: 18;
                font-style: initial;
                color: #370011;
            }
            .product-img /*שליטה על גול התמונה שתהיה אחידה */
            {
                width: 100%;
                height: 200px; 
                object-fit: cover;
                object-position: center;
            }
            .card-title
            {
                min-height: 40px;
                overflow: hidden;
            }
            .cart-link /*מסדר את העיצוב של הקישור לסל הקניות */
            {
                text-decoration: none; 
                color: black;          
                display: inline-flex;  
                align-items: center;   
                gap: 5px;              
                font-weight: bold;     
                position: fixed;      
                top: 20px;             
                left: 20px;           
                z-index: 1000;       
            }
            /* עיצוב כפתורים בתפריט */
    .navbar-nav .nav-link {
      margin-left: 10px;
      margin-right: 10px;
      padding: 8px 15px;
      border-radius: 5px;
      transition: background-color 0.3s, color 0.3s;
    }
    .navbar-nav .nav-link:hover {
      background-color: rgba(255,255,255,0.2);
      color: #fff;
    }

    .navbar-brand img {
      height:70px;      
      width:70px;       
      border-radius:50%; 
      object-fit:cover;  
      box-shadow: 0 2px 5px rgba(0,0,0,0.3); 
      transition: transform 0.3s;
    }
    .navbar-brand img:hover {
      transform: scale(1.1); 
    }
    #carouselExampleCaptions .carousel-caption {
    bottom: auto;   
    top: 50%;       
    transform: translateY(-50%); 
    }

    #carouselExampleCaptions .carousel-indicators {
    bottom: 10px;   
    top: auto;
    }


