<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" style="height:80px; padding:0 20px;">
  <div class="container-fluid">
    <a class="navbar-brand" href="/" style="display:flex; align-items:center;">
      <img src="/images/logo.png" alt="לוגו">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#combinedNavbar"
      aria-controls="combinedNavbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="combinedNavbar">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">ראשי</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/products">מוצרים</a>
        </li>
        <li class="nav-item" style="display:flex; align-items:center; gap:6px;">
          <a class="nav-link" aria-current="page" href="#">סל קניות</a>
          <span id="cartcount" class="nav-link">0</span>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/user/loginPage">צור קשר</a>
        </li>
      </ul>
    </div>
  </div>
</nav>